---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/sluzby/automatizace-procesu/Hero.astro';
import Services from '../../components/sluzby/automatizace-procesu/Services.astro';
import HowItWorks from '../../components/sluzby/automatizace-procesu/HowItWorks.astro';
import Portfolio from '../../components/Portfolio.astro';
import Contact from '../../components/Contact.astro';
---

<Layout>
  <main class="overflow-hidden">
    <Hero />
    <div class="text-white">
      <Services />
      <HowItWorks />
      <Portfolio />
      <Contact />
    </div>
  </main>
</Layout>
