---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/sluzby/cenik/Hero.astro';
import HowWorks from '../../components/sluzby/cenik/how-works.astro';
import PriceList from '../../components/sluzby/cenik/price-list.astro';
import SchoolToCode from '../../components/sluzby/cenik/school-to-code.astro';
import CodeToSport from '../../components/sluzby/cenik/code-to-sport.astro';
import Contact from '../../components/Contact.astro';
---

<Layout>
  <main class="overflow-hidden">
    <Hero />
    <div class="pb-12 text-white">
      <HowWorks />
      <PriceList />
      <SchoolToCode />
      <CodeToSport />
      <Contact />
    </div>
  </main>
</Layout>
